In [1]:
import numpy as np
import pandas as pd

In [4]:
df = pd.read_csv('../../data/raw/data.csv')
df.head()

         Date            Commodity Unit  Minimum  Maximum  Average
0  2013-06-16   Tomato Big(Nepali)   Kg     35.0     40.0     37.5
1  2013-06-16  Tomato Small(Local)   Kg     26.0     32.0     29.0
2  2013-06-16           Potato Red   Kg     20.0     21.0     20.5
3  2013-06-16         Potato White   Kg     15.0     16.0     15.5
4  2013-06-16   Onion Dry (Indian)   Kg     28.0     30.0     29.0

In [5]:
df.tail()

              Date            Commodity Unit  Minimum  Maximum  Average
351610  2025-09-02  Fish Fresh(Bachuwa)   KG    260.0    280.0    270.0
351611  2025-09-02   Fish Fresh(Chhadi)   KG    230.0    250.0    240.0
351612  2025-09-02          Tree Tomato   Kg    200.0    220.0    205.0
351613  2025-09-02          King Oyster   Kg    280.0    300.0    290.0
351614  2025-09-02     Lentinula Edodes   Kg    900.0   1000.0    950.0

In [6]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 351615 entries, 0 to 351614
Data columns (total 6 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   Date       351615 non-null  str
 1   Commodity  351615 non-null  str
 2   Unit       351615 non-null  str
 3   Minimum    351615 non-null  float64
 4   Maximum    351615 non-null  float64
 5   Average    351615 non-null  float64
dtypes: float64(3), str(3)
memory usage: 16.1 MB

In [7]:
df.isnull().sum()

Date         0
Commodity    0
Unit         0
Minimum      0
Maximum      0
Average      0
dtype: int64

In [16]:
commodities = sorted(df['Commodity'].unique())
print(commodities)
print(f'TOTAL UNIQUE COMMODITIES: {len(commodities)}')

['Amla', 'Apple(Fuji)', 'Apple(Jholey)', 'Arum', 'Asparagus', 'Avocado', 'Bakula', 'Bamboo Shoot', 'Banana', 'Barela', 'Bauhania flower', 'Bitter Gourd', 'Bottle Gourd', 'Brd Leaf Mustard', 'Brinjal Long', 'Brinjal Round', 'Brocauli', 'Cabbage', 'Cabbage(Local)', 'Cabbage(Terai)', 'Capsicum', 'Carrot(Local)', 'Carrot(Terai)', 'Cauli Local', 'Cauli Local(Jyapu)', 'Cauli Terai', 'Celery', 'Chilli Dry', 'Chilli Green', 'Chilli Green(Akbare)', 'Chilli Green(Bullet)', 'Chilli Green(Machhe)', 'Christophine', 'Clive Dry', 'Clive Green', 'Coriander Green', 'Cow pea(Long)', 'Cowpea(Short)', 'Cress Leaf', 'Cucumber(Hybrid)', 'Cucumber(Local)', 'Drumstick', 'Fennel Leaf', 'Fenugreek Leaf', 'Fish Dry', 'Fish Fresh', 'Fish Fresh(Bachuwa)', 'Fish Fresh(Chhadi)', 'Fish Fresh(Mungari)', 'Fish Fresh(Rahu)', 'French Bean(Hybrid)', 'French Bean(Local)', 'French Bean(Rajma)', 'Garlic Dry Chinese', 'Garlic Dry Nepali', 'Garlic Green', 'Ginger', 'Grapes(Black)', 'Grapes(Green)', 'Green Peas', 'Guava', 'Gundruk', 'Jack Fruit', 'King Oyster', 'Kinnow', 'Kiwi', 'Knolkhol', 'Lemon', 'Lentinula Edodes', 'Lettuce', 'Lime', 'Litchi(Indian)', 'Litchi(Local)', 'Maize', 'Mandarin', 'Mango(Calcutte)', 'Mango(Chousa)', 'Mango(Dushari)', 'Mango(Maldah)', 'Mint', 'Mombin', 'Mushroom(Button)', 'Mushroom(Kanya)', 'Musk Melon', 'Mustard Leaf', 'Neuro', 'Okara', 'Onion Dry (Chinese)', 'Onion Dry (Indian)', 'Onion Green', 'Orange(Indian)', 'Orange(Nepali)', 'Papaya(Indian)', 'Papaya(Nepali)', 'Parseley', 'Pear(Chinese)', 'Pear(Local)', 'Pineapple', 'Pointed Gourd(Local)', 'Pointed Gourd(Terai)', 'Pomegranate', 'Potato Red', 'Potato Red(Indian)', 'Potato Red(Mude)', 'Potato White', 'Pumpkin', 'Raddish Red', 'Raddish White(Hybrid)', 'Raddish White(Local)', 'Red Cabbbage', 'Sarifa', 'Smooth Gourd', 'Snake Gourd', 'Soyabean Green', 'Spinach Leaf', 'Sponge Gourd', 'Squash(Long)', 'Squash(Round)', 'Strawberry', 'Sugarbeet', 'Sugarcane', 'Sweet Lime', 'Sweet Orange', 'Sweet Potato', 'Sword Bean', 'Tamarind', 'Tofu', 'Tomato Big(Indian)', 'Tomato Big(Nepali)', 'Tomato Small(Indian)', 'Tomato Small(Local)', 'Tomato Small(Terai)', 'Tomato Small(Tunnel)', 'Tree Tomato', 'Turnip', 'Turnip A', 'Water Melon(Dotted)', 'Water Melon(Green)', 'Yam']
TOTAL UNIQUE COMMODITIES: 139